<!DOCTYPE html>
<html>
<style>
    table, th, td {
        border: 0.5px solid black;
    }
</style>
<head>
    <title></title>
</head>
<body>
    @*<h3>@ViewData["PageTitle"]</h3>*@

    <h3>@ViewBag.PageTitle</h3>

    @*This is used with ViewData*@
    <!--@{
        var student = ViewData["Student"] as Library_Management_System.Models.User;
    }-->
    @*<div>
            id: @student.id
        </div>
        <div>
            Name: @student.studentName
        </div>
        <div>
            Department: @student.department
        </div>
        <div>
            emailId: @student.emailId
        </div>*@

    <table>
        <tr>
            <td>
                Student Id
            </td>
            <td>
                @ViewBag.Student.StudentId
            </td>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                @ViewBag.Student.StudentName
            </td>
        </tr>
        <tr>
            <td>
                Department
            </td>
            <td>
                @ViewBag.Student.Department
            </td>
        </tr>
        <tr>
            <td>
                Email Id
            </td>
            <td>
                @ViewBag.Student.EmailId
            </td>
        </tr>
    </table>

</body>
</html>